<h1 [style.color]="headerColor">{{title}}</h1>

<button (click)="buttonClick()">Change title color</button>

<h2>Changing name</h2>
<p>
    Hello {{name}}
</p>
<h3>The ugly way to change name:</h3>
<p>
    Changes name while typing: <input type="text" [value]="name" (keyup)="name = $event.target.value" />
</p>
<p>
    Changes name after hitting Enter: <input type="text" [value]="name" (keyup.enter)="name = $event.target.value" />
</p>
<p>
    Changes name on blur: <input type="text" [value]="name" (blur)="name = $event.target.value" />
</p>
<h3>The preferred way to change name:</h3>
<p>
    Changes name while typing: <input type="text" [(ngModel)]="name" />
</p>

<h2>Iteration</h2>
<app-customers></app-customers>
<app-customers></app-customers>